.git
.gitignore
.coverage
.pytest_cache/
.venv/
**/__pycache__/
**/.pytest_cache/
**/*.pyc

.env
data/
tasks.md
tt-rss_dreace_2026-02-05.opml

backend/.coverage
backend/data/
backend/.venv/
backend/.venv/**
backend/tests/

frontend/node_modules/
frontend/dist/
frontend/coverage/
